extends layout

block content
  .container
    h3 Home Timeline
    - for(var i = 0; i < data.length; i++)
      .panel.panel-primary
        .panel-heading
          img.pull-left(src='#{data[i].user.profile_image_url}') 
          h2.panel-title #{data[i].user.name} - @#{data[i].user.screen_name}`
          .clearfix
        .panel-body 
          | #{data[i].text}
